body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 1rem;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  justify-content: center; /* Center items when collapsed */
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }
}

/* Centralize content in movie cards */
.card {
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* Footer styles */
footer {
  background-color: #343a40;
  color: white;
  padding: 10px 0;
  text-align: center;
}